* {
    margin: 0; 
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.question_container {
    display: flex;
    background: rgb(21,213,241);
    background: linear-gradient(130deg, rgba(21,213,241,1) 15%, rgba(234,255,0,1) 84%);
    flex-direction: column;
    align-items: left;
    height: 100vh;
    padding-top: 50px;
    padding-left: 50px
}

.question {
    margin-top: 20px;
    margin-left: 30px;
}

.question > h2 {
    color: #293264;
    font-size: 1.3rem;
}

.question > label {
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 10px;
    background-color: #fff;
    color: #444;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    
}

.question > label:hover {
    background-color: #D6DBF5;

}
.question > label  > input {
    display: none;
}

.answer_label.selected {
    background-color: #D6DBF5;
  }

  .answer_label input:disabled  {
    color: grey; 
    cursor: not-allowed;
  }
.check_button {
    border: none;
    border-radius: 15px;
    background: #4D5B9E;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px 20px;
    color: #fff;

}