* {
    margin: 0; 
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(21,213,241);
    background: linear-gradient(130deg, rgba(21,213,241,1) 15%, rgba(234,255,0,1) 84%);
    height: 100vh;
}

.container > h1 {
    font-weight: 700;
    color: #293264;
    font-size: 2rem;
    margin-bottom: 10px;
}

.container > p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 40px;
    color: #293264;

}

.container > button {
    padding: 20px 20px;
    background-color: #4D5B9E;
    color: white;
    border-radius: 15px;
    border: none;
    width: 200px;
    cursor: pointer;
    font-weight: 500;
}